a{
    text-decoration: none;
    color: black;
}

*{
  box-sizing: border-box;
}
.cardletter{
    font-size: 40px;
}
.header{
    height:250px; 
    align-items:center; 
    display:flex; 
    justify-content: center; 
    background-color: aliceblue;
}
.fun-header{
    height:250px; 
    align-items:center; 
    display:flex; 
    justify-content: center; 
    background-color: rgb(134, 171, 247);
}

.header-text{
    text-align: center; 
    padding: 20px;
    border-radius: 20px; 
    box-shadow: 5px 10px;
}
.button{
    justify-content: center;
    width: 40%;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 120px;
    padding: 30px;
    background-color: rgb(134, 171, 247);
    border-radius: 25px;
}

.button:hover{
    background-color: aliceblue;
    cursor:pointer;
}

.column {
  float: left;
  width: 25%;
  padding: 20px 10px;
}

.row {margin: 10px 25px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.low-nav{
    padding-left: 120px; 
    padding-bottom: 50px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  justify-content: center;
  padding: 3px;
  height: 100px;
  text-align: center;
  background-color: rgb(134, 171, 247);
}
.card:hover{
    background-color: aliceblue;
    cursor:pointer;
}
.center{
    text-align: center;
}
.animate {
    -webkit-animation: animatezoom 1s;
    animation: animatezoom 1s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #888;
    font-size: 35px;
    font-weight: bold;
}
.close:hover {
    color: #000;
    cursor: pointer;
}

.container {
    padding: 16px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: white;
    margin: auto;
    border: 10px solid rgb(134, 171, 247);
    width: 60%;
}

body {
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    padding: 8px;
    background: black;
    color: white;
}
.nav-bar > p > a{
    padding: 5px;
    color: white;
    text-decoration: none;
}
.nav-bar > p > a:hover{
    text-decoration: underline;
}

span.psw {
float: right;
padding-top: 16px;
}
