{% extends "main.html" %}

{% block page_name %}
About This Wiki
{% endblock %}

{% block content %}
<div style= "height:450px; align-items:center; display:flex; justify-content: center; background-color:aliceblue;">
    <h1 style="text-align: center; padding: 20px;border-radius: 20px; box-shadow: 5px 10px;">About this Wiki</h2>
</div>


<!-- TODO(Project 1): Add info about the wiki. -->
<div style = "display: flex; flex-direction: row;padding: 8px;background: white;justify-content: center;">

<h2>Aim</h2>

<!-- TODO(Project 1): Add team members and pictures to about page. -->
</div>
{% endblock %}

