{% extends "main.html" %}

{% block page_name %}
About
{% endblock %}

{% block content %}
<div class = "pagetitle">
    <h1 class="pagename">About this Wiki</h1>
</div>


<!-- TODO(Project 1): Add info about the wiki. -->


<!-- TODO(Project 1): Add team members and pictures to about page. -->
<div id="about">
    <h2>Aim</h2>
    <p><br>
    Our goal is to inform others about women whom have made major contributions in STEM and encourage upcoming women in STEM by providing growth resources. 

    <br> </p>
    <h2>&#128151;Your Authors&#128151;</h2>
    <!-- TODO(Project 1): Add team members and pictures to about page. -->
        <h3>Sam Artola</h3>
        <img src="https://storage.cloud.google.com/wikis-content/About-content/sam.jpg" width="30%" height="70%" alt="Sam">
        <h3>Mayo Oyefeso</h3>
        <img src="https://storage.cloud.google.com/wikis-content/About-content/mayo.jpg" width="30%"  alt="Mayo">
        <h3>Angel Adetula</h3>
        <img src="https://storage.cloud.google.com/wikis-content/About-content/angel.jpg" width="30%" alt="Angel">
</div>
{% endblock %}

