{% extends "main.html" %}

{% block page_name %}
About This Wiki
{% endblock %}

{% block content %}
<div style= "height:450px; align-items:center; display:flex; justify-content: center;">
    <img style="object-fit: fill;" src="https://storage.cloud.google.com/wikis-content/nwis-pages/kat-image.jpg">
</div>

<div style = "display: flex; flex-direction: column;padding: 8px;background: white;justify-content: center;">
    <h2>Katherine Johnson</h2>
    <p>
        Katherine Johnson was born on August 26, 1918, in West Virginia. 
        From an early age, she enjoyed learning and showed intense curiosity and brilliance in her academics. <br>
        Eventually, her favorite subject in school was Mathematics.
        She was incredibly smart, she started high school at 10 and graduated from college at 18.
        She obtained her bachelor's degree in Mathematics and French from West Virginia State College. 
        In her time at West Virginia State College, Katherine took every Mathematics class offered by the college.
    </p>
    <p>
        In 1953, after working for years as a teacher, Katherine was employed by the National Advisory Committee for Aeronautics (NACA). 
        In 1958, NACA was disbanded as it was superseded by the National Aeronautics and Space Administration (NASA). 
        There, she worked in the Spacecraft Controls Branch as an aerospace technologist. 
    </p>
    <p>    
        Some of her notable achievements until her retirement in 1986 are:
        <ol>
            <li>
                She calculated the trajectory for the May 5, 1961 space flight of Alan Shepard.
            </li><br>
            <li>
                She calculated the launch window for the 1961 Mercury mission.
            </li><br>
            <li>
                She helped in calculating the trajectory for the 1969 Apollo 11 flight to the moon.
            </li><br>
            <li>
                She worked on the 1970 Apollo 13 moon mission.
            </li><br>
            <li>
                She was the first woman in NASA Spacecraft Controls Branch to have her name published on a paper.
            </li>
        </ol>
    </p>
</div>
{% endblock %}

