<!DOCTYPE html>
<html>

<head>
    <head>
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        <title>Women in Stem</title>
    </head>
</head>

<body>
    <!-- TODO(Project 1): Implement routes. -->
    <div>       
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        <h1 style="text-align: center; padding:20px">  Notable women in stem </h1>
        <p style="text-align: center;"> This main objective of this website is o list achievements of notable women in stem. </p>
    </div>
</body>

</html>