{% extends "main.html" %}

{% block page_name %}
Pages
{% endblock %}

{% block content %}

<div class="pagetitle">
    <h1 class="pagename">Pages contained in this Wiki</h1>
</div>

<div style="text-align: center; padding: 20px 0;">
    {% for page in page_list %}
        <a href="{{url_for('show_wiki',curpage=page)}}">{{page}} </a><br><br>
    {%endfor%}  
    <p><a href="{{ url_for('joy_buolamwini_page') }}"> Joy Buolamwini</p>
    <p><a href="{{ url_for('scholarships_page') }}"> Scholarships </p>
    <p><a href="{{ url_for('opportunities_page') }}"> Opportunities </p>
        <a href="{{url_for('quotes')}}">Quotes</a><br><br>
        <a href="{{url_for('kathjohn')}}">Katherine Johnson</a>
</div>
{% endblock %}
