{% extends "main.html" %}

{% block page_name %}
Pages
{% endblock %}

{% block content %}

<div style= "height:450px; align-items:center; display:flex; justify-content: center; background-color:aliceblue;">
    <h1 style="text-align: center; padding: 20px;border-radius: 20px; box-shadow: 5px 10px;">Pages contained in this Wiki</h1>
</div>

<div style="text-align: center; padding: 20px 0;">
    {% for page in page_list %}
        <ul> <a href="{{url_for('show_wiki',curpage=page)}}">{{page}} </a></ul>
    {%endfor%}  
    <p><a href="{{ url_for('joy_buolamwini_page') }}"> Notable Woman: Joy Buolamwini</p>
    <p><a href="{{ url_for('scholarships_page') }}"> Scholarships </p>
    <p><a href="{{ url_for('opportunities_page') }}"> Opportunities </p>
</div>

{% endblock %}
