{% extends "main.html" %}

{% block page_name %}
Quotes
{% endblock %}

{% block content %}
<div class="pagetitle">
    <h1 class="pagename">Here are some quotes by notable women in STEM</h1>
</div>

<ol type="1" style = "display: flex; flex-direction: column;padding: 10px;background: white;justify-content: center; margin-left: 50px;">
    <li>
        "Science is not a boy’s game, it’s not a girl’s game. It’s everyone’s game. It’s about where we are and where we’re going."
        <br> - Nichelle Nichols
    </li><br>
    <li>
        "Never be limited by other people’s limited imaginations."
        <br> - Mae C. Jemison
    </li><br>
    <li>
        "Life is a series of building, testing, changing and iterating."
        <br> - Lauren Mosenthal
    </li><br>
    <li>
        "Don’t be afraid of hard work. Nothing worthwhile come easily. Don’t let others discourage you or tell you that you can’t do it."
        <br> - Gertrude B. Elion
    </li><br>
    <li>
        "I learned to always take on things I’d never done before. Growth and comfort do not coexist."
        <br> - Ginni Rometty
    </li><br>
    <li>
        "The time is long overdue to encourage more women to dream the possible dream."
        <br> - Sheryl Sandberg
    </li><br>
    <li>
        "Dreams do come true, but not without the help of others, a good education, a strong work ethic, and the courage to lean in."
        <br> - Ursula Burn
    </li><br>
    <li>
        "If you haven’t failed yet, you haven’t tried anything."
        <br> - Reshma Saujani
    </li><br>
    <li>
        "Learn to ask for things. Be concise, relevant and brave."
        <br> - Angie Chang
    </li><br>
    <li>
        "If you find something you feel passionately about, pursue it with all your heart, and 
        don’t let anyone tell you that you’re too young or inexperienced to make it happen."
        <br> - Lauren Kulokas
    </li>
</ol>
{% endblock %}