{% extends "main.html" %}

{% block page_name %}
Scholarships
{% endblock %}
{% block page_head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    body {
        font-family:'Times New Roman', Times, serif
    }
</style>
{% endblock %}

{% block content %}
<div style="height: 200px; justify-content: center;text-align: center; padding:40px">
<h1><b> Scholarships </b></h1>
<p> Below are some interesting scholarship opportunities for women studying STEM in North America.</p>
</div>


<div class= "table table-bordered table-responsive" style = "padding:20px; justify-content: center; align-items: center;">
    <table style ="margin-left: auto; margin-right: auto;">
    <thead>
        <tr>
            <th scope="col">Scholarship</th>
            <th scope="col">Area of Study</th>
            <th scope="col">Target</th>
            <th scope="col">Prize</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="https://www.palantir.com/careers/students/scholarship/wit-north-america/"> Palantir Women in Technology </a></td>
            <td> STEM majors </td>
            <td> Female identifying college/university freshmen, sophmores and juniors. </td>
            <td> <span>&#36;</span>7000 </td>
        </tr>

        <tr>
            <td> <a href="https://thebhwgroup.com/scholarship"> BHW Women in STEM Scholarship </a></td>
            <td> STEM majors </td>
            <td> Female identifying college/university undergraduates and master's students. </td>
            <td> <span>&#36;</span>3000 </td>
        </tr>

        <tr>
            <td> <a href="https://abcwildlife.com/about-us/women-in-stem-scholarship/"> ABC Humane Wildlife Women in STEM Scholarship </a></td>
            <td> STEM majors </td>
            <td> Female identifying college/university undergraduates.</td>
            <td> <span>&#36;</span>1000 </td>
        </tr>

        <tr>
            <td> <a href="https://girlswhostem.com/girls-in-stem-scholarship/"> Girls in Stem Scholarship </a></td>
            <td> STEM majors </td>
            <td> College/university undergraduates and master's student with a minimum of a 3.0 GPA and a history of advocacy of girls in stem. </td>
            <td> <span>&#36;</span>500 </td>
        </tr>

        <tr>
            <td> <a href="https://thebhwgroup.com/scholarship"> Women in Defense Scholarship </a></td>
            <td> National security or defense </td>
            <td> Female identifying college/university undergraduates with a minimum GPA of 3.25. </td>
            <td> Varies </td>
        </tr>

        <tr>
            <td> <a href="https://www.microsoft.com/en-us/diversity/programs/women-at-microsoft-scholarship"> Women at Microsoft Scholarship </a></td>
            <td> STEM majors </td>
            <td> Female/non-binary identifying high school students intending to attend a 2-4 year college/university. </td>
            <td> Up to <span>&#36;</span>5000 </td>
        </tr>

        <tr>
            <td> <a href="https://www.iise.org/Details.aspx?id=857"> IISE's UPS Scholarship for Female Students  </a></td>
            <td> Industrial engineer </td>
            <td> Female identifying college/university undergraduates who are members of IISE with a minimum GPA of 3.4. </td>
            <td> <span>&#36;</span>4000 </td>
        </tr>

        <tr>
            <td> <a href="https://www.mpowerfinancing.com/scholarships/women-in-stem/"> MPower Women in Stem Scholarship </a></td>
            <td> STEM majors </td>
            <td> Female identifying international undergraduates studying in MPower supported college/university in the United States and Canada. </td>
            <td> Varies </td>
        </tr>

        <tr>
            <td> <a href="https://www.palantir.com/careers/students/scholarship/future/"> Palantir Future Scholarship  </a></td>
            <td> STEM majors </td>
            <td> Underrepresented racial/ethnic community identifying college/university undergraduates. </td>
            <td> <span>&#36;</span>7000 </td>
        </tr>

        <tr>
            <td> <a href="https://buildyourfuture.withgoogle.com/scholarships/generation-google-scholarship"> Google Generation Scholarship </a></td>
            <td> Computer Science </td>
            <td> High school seniors and currently enrolled college/university undergraduates. </td>
            <td> Varies </td>
        </tr>
    </tbody>
</table>
</div>
{% endblock %}