{% extends "main.html" %}

{% block page_name %}
Sign Up
{% endblock %}

{% block content %}

<div style="text-align: center; padding: 200px 0;">
    <h1>Sign Up</h1>
    <form action="/">
        <label for="name">Username</label><br>
        <input style = width:20%; required type="text" id="name" name="name"><br><br>
        <label for="pwd">Password</label><br>
        <input style = width:20%; required type="password" id="pwd" name="pwd"><br><br>
        <label for="pwdcheck">Re-enter Password</label><br>
        <input style = width:20%; required type="password" id="pwdcheck" name="pwd"><br><br>
        <input type="submit" value="Submit">
    </form>
</div>

{% endblock %}